<div ng-controller="stockController">
	<div class="row" ng-show="!showStockAddForm">
		<div class="col-xs-10">
			<div class="input-group">
				<span class="input-group-addon"><i
					class="glyphicon glyphicon-search"></i></span> <input type="text"
					placeholder="Product Description" class="form-control" />
			</div>
		</div>
		<div class="col-xs-2">
			<input type="button" class="btn btn-primary form-control"
				value="ADD STOCK" ng-click="showStockAddForm = !showStockAddForm" />
		</div>
	</div>
	<div class="row" ng-show="showStockAddForm">
		<div class="col-xs-6">
			<input type="text" class="form-control"
				placeholder="Product Description" ng-model="productDescription" />
		</div>
		<div class="col-xs-1">
			<input type="text" class="form-control" placeholder="Qty"
				ng-model="quantity" />
		</div>
		<div class="col-xs-2">
			<input type="text" class="form-control" placeholder="Buying Rate"
				ng-model="buyingRate" />
		</div>
		<div class="col-xs-2">
			<input type="text" class="form-control" placeholder="Selling Rate"
				ng-model="sellingRate" />
		</div>
		<div class="col-xs-1">
			<input type="button" class="btn btn-primary form-control" value="ADD"
				ng-click="addProduct()" />
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12" ng-grid="gridOptions"></div>
	</div>
	<div class="row" ng-show="showStockAddForm">
		<div class="col-xs-6">
			<input type="submit" value="DONE" class="btn btn-primary form-control" />
		</div>
		<div class="col-xs-6">
			<input type="button" value="CANCEL" class="btn btn-danger form-control" />
		</div>
	</div>
</div>